<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="firstPage">BookShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="viewProfilePage">View Profile</a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <div style="margin-left: 30%; margin-right: 30%; margin-top: 10%" class="card-header">
    <form (ngSubmit)="seeReviews(); writeReview()">
      <div class="mb-sm-3">
        <label for="nameBook" class="form-label">Name Book</label>
        <input type="nameBook" [(ngModel)]="nameBook" class="form-control" id="nameBook" name="nameBook">
      </div>
      <div class="mb-sm-3">
        <label for="nameReview" class="form-label">Review</label>
        <input type="nameReview" [(ngModel)]="nameReview" class="form-control" id="nameReview" name="nameReview">
      </div>
      <button type="button" class="btn btn-primary" (click)="seeReviews()">See Reviews</button>
      <button type="button" class="btn btn-primary" (click)="writeReview()">Write Review</button>
    </form>
  </div>
</div>

<div style="margin-top: 10%; color: deeppink; background-color: lightcoral" class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Review</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rev of reviewList">
      <td><span>{{rev.review}}</span></td>
    </tr>
    </tbody>
  </table>
</div>

